@model IEnumerable<DBFirstAppEF.Models.Dorm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="view-all-dorm">
        @await Html.PartialAsync("_ViewAllDorm",Model)
</div>